{% extends 'layout.html' %}
{% block main %}


    <main class="intro-main" id="preload">

        <div class="card">
                <img src="../static/img/fabi.jpg" class="card-img-top acerca-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sobre Mí</h5>
                    <p class="card-text">
                        Soy Fabiana y mi mayor deseo es alentarnos a que con sencillez  de corazón lleguemos a ser
                        lo que Dios nos creó para ser.<br> A través de estos audios "Aliento para el viaje"
                        mis posteos en las redes, charlas y conferencias en las cuales tengo el privilegio de compartir
                        con tantas mujeres, te invito a que demos el salto de Fe para vivir la gracia y la paz que nos regala Dios.
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                            <a href="https://www.facebook.com/fabiana.i.lopez" class="color-blue"><ion-icon name="logo-facebook" class="acerca-icon"></ion-icon></a>
                    </li>

                    <li class="list-group-item">
                            <a href="https://www.instagram.com/fabianalopez69/?hl=es-la" class="color-pink"><ion-icon name="logo-instagram" class="acerca-icon"></ion-icon></a>
                    </li>

                    <li class="list-group-item">
                            <a href="main.html" class="btn btn-dark boton-volver my-auto">Volver</ion-icon></a>
                    </li>
                   
                </ul>
        </div>
        
    </main>

    
{% endblock %}