{% extends 'layout.html' %}
{% block main %}


    <main class="intro-main" id="preload">
        <div class="card text-center intro-card">

        <div class="card-header intro-card-header">
            <img src="../static/img/logo.png" width="70" height="70" class="d-inline-block align-top" alt="">
        </div>

        <div class="card-body align-middle">

            <nav class="navbar text-center">
                    <a class="navbar-brand my-auto"href="">
                    <img src="../static/img/space.png" width="90" height="90" class="d-inline-block align-top" alt="">
                    </a>
            </nav>
            <br>
            <br>

            <p class="card-text h4 intro-title">Aliento para el viaje</p>
            <br>
            <br>
            <div class="spinner-border text-warning" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        </div>
    </main>

    <script type="text/javascript">

        (function(){
        
        var preload = document.getElementById("preload");
        var loading = 0;
        var id = setInterval(frame, 64);

        function frame(){
          if(loading == 50) {
          clearInterval(id);
          window.open('main.html', "_self");
          }
          else {
          loading = loading + 1;
          if(loading == 30) {
            preload.style.animation = "fadeout 1s ease";
          }
          }
        }


        })();

    </script>

{% endblock %}