{% extends 'layout.html' %}
{% block main %}


    <main class="intro-main" id="preload">
        <div class="card text-center intro-card">

        <div class="card-header intro-card-header">
                <p class="card-text h4 main-title">Audios "Aliento para el viaje"</p>
        </div>
        <br>
        <br>
        <br>
        <div class="card-body align-middle">
            <div class="borders-main">
                <a href="audio.html">
                    <i class="material-icons">
                        play_circle_outline
                    </i>
                    <p>Escuchar audio del día</p>
                </a>
            </div>

            <div class="borders-main">
                    <a href="pensamiento.html">
                        <i class="material-icons">
                            edit
                        </i>
                        <p>Pensamiento del día</p>
                    </a>
                </div>

                <div class="borders-main">
                        <a href="acerca.html">
                            <i class="material-icons">
                                local_florist
                            </i>
                            <p>Sobre Fabiana</p>
                        </a>
                    </div>

            <br>
            <br>

        <div class="card-footer text-muted intro-card-footer">
            <a href="terms_and_conditions.html">Términos y condiciones</a><br><a href="privacy_policy.html">Política de privacidad</a>
        </div>


        </div>
    </main>

{% endblock %}