{% extends 'layout.html' %}
{% block main %}


<main class="intro-main intro-main2 " id="preload">
    <div class="card text-center intro-card" style="border: none">

        <div class="card-header intro-card-header shadow-sm rounded">
            <p class="card-text h4 main-title">Aliento para el viaje</p>
        </div>
        <br>
        <div class="card-body align-middle">

            <div class="borders-main shadow rounded">
                <a href="audio.html">
                    <i class="material-icons red">
                        play_circle_outline
                    </i>
                    <p>Escuchar audio del día</p>
                </a>
            </div>


            <div class="borders-main shadow rounded">
                <a href="acerca.html">
                    <i class="material-icons green">
                        local_florist
                    </i>
                    <p>Sobre Fabiana</p>
                </a>
            </div>
            <br>
            <br>

            <div class="card-footer text-muted intro-card-footer">
                <a href="terms_and_conditions.html">Términos y condiciones</a><br><a href="privacy_policy.html">Política
                de privacidad</a>
            </div>

        </div>
        </div>
</main>

{% endblock %}