{% extends 'layout.html' %}
{% block main %}


    <main class="intro-main" id="preload">
        <div class="card text-center intro-card">

        <div class="card-header intro-card-header shadow-sm rounded">
                <p class="card-text h4 main-title">Audios "Aliento para el viaje"</p>
        </div>
        <br>
        <br>
        <br>
        <div class="card-body align-middle">
        <br>

        <!-- <div class="alert alert-danger" role="alert">
            Audio de ayer 
        </div> -->

       <div class="alert alert-success" role="alert ">
            En esta sección encontrarás un audio de días anteriores
        </div>


        <br>
        <br>
        <br>
        <br>

                <audio controls>
                        <source src="../static/audio/mas1.mp3" type="audio/mpeg" class="shadow-sm rounded background-player">
                      Your browser does not support the audio element.
                </audio>



                <div class="borders-main shadow rounded">
                    <a href="main.html">
                        <i class="material-icons">
                           keyboard_backspace
                        </i>
                        <p>Volver</p>
                    </a>
                </div>
        </div>
    </main>

{% endblock %}