{% extends 'layout.html' %}
{% block main %}


    <main class="intro-main" id="preload">
        <div class="card text-center intro-card">

        <div class="card-header intro-card-header">
                <p class="card-text h4 main-title">Audios "Aliento para el viaje"</p>
        </div>
        <br>
        <br>
        <br>
        <div class="card-body align-middle">
        <br>
        <br>
        <br>
        <p class="card-text h5 main-title text-center">
            Nuevamente es la confianza de un corazón que no se rinde y conoce al Dios que da vuelta las historias. Por eso en tu nombre Señor aquí vamos una vez más.
        </p>
            <br>
            <br>
            <br>
            <br>

                <div class="borders-main">
                    <a href="main.html">
                        <i class="material-icons">
                           keyboard_backspace
                        </i>
                        <p>Volver</p>
                    </a>
                </div>



        </div>
    </main>

{% endblock %}