{% extends 'layout.html' %}
{% block main %}


    <main class="intro-main" id="preload">
        <div class="card text-center intro-card">

        <div class="card-header intro-card-header">
                <p class="card-text h4 main-title">Audios "Aliento para el viaje"</p>
        </div>
        <br>
        <br>
        <br>
        <div class="card-body align-middle">
        <br>
        <br>
        <br>
        <p class="card-text h5 main-title text-center">
           Lo han dotado de bendiciones eternas, le has dado la alegría de tu presencia, el amor inagotable de Dios, cuidará que no tropiece<br>Salmo 21
        </p>
            <br>
            <br>
            <br>
            <br>

                <div class="borders-main shadow rounded">
                    <a href="main.html">
                        <i class="material-icons">
                           keyboard_backspace
                        </i>
                        <p>Volver</p>
                    </a>
                </div>



        </div>
    </main>

{% endblock %}