{% extends 'layout.html' %}
{% block main %}


  <main>
    <div class="card text-center intro-card">
        <div class="card-header intro-card-header shadow-sm rounded">
            <h1 class="title-prox">Próxima Conferencia</h1>
        </div>
        <br>
      <hr>
      <div class="title-center">
            <h2>29 de Febrero</h2>
            <h3>Córdoba Capital</h3>
            <hr>
            <br>
            <hr>
            <h2>8 de Marzo</h2>
            <h3>Rosario</h3>
       </div>       
    </div>
    <br>

    <a href="main.html" class="btn btn-dark boton-volver my-auto volver2">Volver</ion-icon></a>
    <br>

  </main>
    
{% endblock %}